body {
	/*background-color: #E6F5FA;*/
	font-family: arial;
	background-color: #faf8f5;
	color: #222;
}

a {
	text-decoration: none;
	color: #eb462a;
}

a:visited {
	text-decoration: none;
	color: #ac4142;
}

#header {
	background-color: #6AA0A0;
	text-align: center;
	border-radius: 500px;
}

#materials {
	width:200px; 
	background-color: #E69D85;
}

header {
	color: #eb462a;
	text-align: center;
	border-bottom: 2px solid #222;
}

header h1 {
	vertical-align: middle;
}

header img {
	vertical-align: middle;
	padding-right: .5em;
	display: inline-block;
}

#page-container {
	max-width: 40em;
	margin: 0 auto;
}

.content {
	max-width: 30em;
	margin: 0 auto;
	/*text-align: center;*/
}

.monday {
	display: inline-block;
	float: left;
	/*padding-right: 2em;*/
	/*vertical-align: top;*/
} 

.wednesday {
	display: inline-block;
	float: right;
	/*padding-left: 2em;*/
	/*vertical-align: top;*/
}